*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


html,body{
    overflow-x: hidden;
}

body{
    height: 300%;
    overflow-y: hidden;
}


#box1{
    height: 100svh;
    background-color: crimson;
}
#box2{
    height: 100svh;
    background-color: black;
    display: flex;
    align-items: center;
}

#box2 p{
    color: white;
    font-size: 30vw;
    white-space: nowrap;
}

#box3{
    height: 100svh;
    background-color: royalblue;
}


/* .innerbox1{
    height: 100%;
    width: 100vw;
    background-color: yellowgreen;
}
.innerbox2{
    height: 100%;
    width: 100vw;
    background-color: crimson;
}
.innerbox3{
    height: 100%;
    width: 100vw;
    background-color: royalblue;
} */
/* 
::-webkit-scrollbar{
    width: 0;
} */