@font-face {
    font-family:"bold" ;
    src: url(./assets/NeueHaasDisplayBold.ttf);
}
@font-face {
    font-family: "medium";
    src: url(./assets/NeueHaasDisplayMediu.ttf);
}
@font-face {
    font-family: "light";
    src: url(./assets/NeueHaasDisplayLight.ttf);
}

.bold{
    font-family: "bold";
}
.medium{
    font-family: "medium";
}
.light{
    font-family: "light";
}


.page-container{
    max-width: 1460px;
    margin-inline: auto;
    padding: 1.8rem;
}


.heading-font-size{
    font-size: clamp(3rem,8vw,10rem);
    line-height:  clamp(3rem,8vw,10rem);
}

.normal-text-size{
    font-size: clamp(1rem,1.2vw,2rem);
    line-height:  clamp(1rem,1.2vw,2rem);
}
.navbarText{
    font-size: clamp(0.5rem,1vw,1rem);
    line-height:  clamp(1rem,1.2vw,1rem);
}

